:root {
  --white: #fff;
  --dark-grey: #212121;
  --light-grey: #757575;
  --blue: #2196f3;
  --gunmetal: #2f303a;
  --complementary: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
}

.logo,
.logo a:link,
.logo a:visited {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blue {
  color: var(--blue);
}

.nav-links a:link,
.nav-links a:visited {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--dark-grey);
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*nie działa a:active z przyczyn zupełnie dla mnie nieznanych :D */
.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  color: var(--blue);
}

.contact-links a:link,
.contact-links a:visited {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--light-grey);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-links a:hover,
.contact-links a:active,
.contact-links a:focus {
  color: var(--blue);
}

ul {
  list-style-type: none;
}

.banner {
  background-color: var(--gunmetal);
  text-align: center;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.06em;
}

.order-button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: var(--blue);
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}

.main-info-header {
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.main-info-paragraph {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.mission-header {
  color: var(--dark-grey);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--complementary);
}

.team-header {
  color: var(--dark-grey);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.team-name {
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.team-position {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.team-frame {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--gunmetal);
}

.logo-footer,
.logo-footer a:link,
.logo-footer a:visited {
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

address {
  font-style: normal;
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

address a:link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.portfolio-button {
  background-color: var(--complementary);
  color: var(--dark-grey);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-header {
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.06em;
}

.portfolio-product {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.portfolio-display {
  border: 1px solid #eee;
  border-radius: 1px;
}

.odd-link {
  text-decoration: underline rgba(255, 255, 255, 0.6);
}
